<h1>Hello World</h1>
<p>See Me in views/static/index.html.erb</p>

<form action="/shorten_url" method="post">
	Enter URL:
	<input type="text" name="long_url">
	<input type="submit" value="Submit">
</form>

<% if @valid_url %>
	<p><%= @valid_url %></p>
<% else %>
	<p><%= @invalid_url %></p>
<% end %>

<table>
	<tr>
		<th>Original URL</th>
		<th>Shortened URL</th>
		<th>Counter</th>
	</tr>>
	<% @data.each do |row| %>
	<tr>
		<td><%= row.long_url %></td>
		<td><a href="http://localhost:9393/<%= row.short_url %>">http://localhost:9393/<%= row.short_url %></a></td>
		<td><%= row.counter %></td>
	</tr>
	<% end %>
</table>