<h1>Hello World</h1>
<p>See Me in views/static/index.html.erb</p>

<p>Shorten your URL here!</p>

<form action="/urls" method="post">
  Enter URL:
  <!-- <input type ="text" name="url[long]"> -->
  <input type ="text" name="long_url">
  <input type ="submit" value="Submit">
</form>

Errors:

<% if Url.new.errors %>
  <%= @url.errors.messages if @url %>
<% end %>

<p>Hooray</p>


<!-- <table> -->
  <% @urls.each do |url| %>
    <%= url.long_url %>
    <%= url.shorten_url %><br>
<!--     <tr>
      <td><%= url.long_url %></td>
      <td><a href="<%=url.long_url%>"><%= url.shorten_url %></a></td>
    </tr> -->
  <% end %>
<!-- </table> -->

