<h1 style="text-align:centre">URLs Made Short</h1>

<div class="banner b01 center">
  <p>Enter your URL here to get started!</p>
  <form action="/urls" method="post">
  <!-- <input type ="text" name="url[long]"> -->
  <input id = "input" type ="text" name="long_url" placeholder="Paste your link here" size="50">
  <input id = "submitbutton" type ="submit" value="Submit">
</form>
</div>

<div class="error redfont center">
  <% if @failed %>
  Error:
  Please input a valid URL.
  <% end %>
</div>

<div>
<br>
<table id="datatable">
  <tr>
    <th><%= "Long URL"%></th>
    <th><%= "Shorten URL"%></th>
    <th><%= "Click_count"%></th>
  </tr>
  <tr>
  <% @urls.each do |url| %>
    <td><%= url.long_url %></td>
    <td><%= url.shorten_url %></td>
    <td><%= url.click_count%></td>
  </tr>
<!--       <td><%= url.long_url %></td>
      <td><a href="<%=url.long_url%>"><%= url.shorten_url %></a></td>
    </tr> -->
  <% end %>
</table>
</div>

