<header style="margin-top: -100px; margin-bottom: 60;">
<a href="http://localhost:9393/">
<img src="http://apk-dl.com/detail/image/com.jjapp.spacedogeadventure-w250.png" alt="Doge Icon" style="width:80px;height:80px; margin-left: 20">
</a>
</header>

<h1>Welcome to DogeBit</h1>
<h2> Your friendly Doge to make 'UR L'ife simpler </h2>


<form action="/urls" method="post" id='answer'>
	<input type ="text" name ="long_url" placeholder="URL" id="changeinputbox">
	<input type="submit" value="Shorten!" id="addfont">
</form>

<section>
<% if @url %>
	<p>Your long URL: <%=@url.long %> </p>
	<p>Your short URL:<a href =<%= @url.short %> target="_blank" > http://localhost:9393/<%= @url.short %></a> </p>
<% elsif @urll == true %>
	<p>Invalid Link!</p>
<% end %>
</section>

<div id="info"></div>

<article>
<button>
  List!
</button>
<table class='index_table' border="1" style="width:100%" id='full_table'>
  <tr>
    <th>Long URL</th> 
    <th>Shortened URL</th>
    <th>Number of times Visited</th>
  </tr>
  <% @uri[0..2].each do |x| %>
  	<tr>
    	<td><a href="<%=x.long %>" target="_blank"><%=x.long%></a></td>
    	<td>http://localhost:9393/<%=x.short%></td> 
    	<td><%=x.counter%></td>
    </tr>
    <% end %>
</table>
</article>
